<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>{{title}}</title>
	<meta name="description" content="{{description}}" />

	<link rel="icon" type="image/png" href="/static/images/favicon.ico" sizes="32x32">

	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/core.css" />
	{{#if customStylesheet}}
	{{#each customStylesheet}}
	<link rel="stylesheet" type="text/css" href="/static/css/{{css}}" />
	{{/each}}
	{{/if}}
	<!--[if lt IE 9]>
	<script src="static/javascripts/html5shiv.min.js"></script>
	<script src="static/javascripts/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">TOryaa</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="/create">Create Tournament</a></li>
					<li><a href="/view">Tournament List</a></li>
					<li><a href="/edit">Edit Tournament</a></li>
					<li><a href="/manage">Manage Tournament</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</nav>
	<div class="container" id="main">
{{{body}}}
	</div>
	<footer class="footer">
		<div class="container">
			<p class="text-muted">&copy; 2016 the TOryaa team</p>
		</div>
	</footer>
	<script src="/static/javascripts/class/Tournament.js"></script>
	<script src="/static/javascripts/class/Event.js"></script>
	<script src="/static/javascripts/class/Round.js"></script>
	<script src="/static/javascripts/class/Bracket.js"></script>
	<script src="/static/javascripts/class/Person.js"></script>
	<script src="/static/javascripts/jquery-1.12.2.min.js"></script>
	<script src="/static/javascripts/bootstrap.min.js"></script>
	{{#if customJS}}
	{{#each customJS}}
	<script src="/static/javascripts/{{js}}"></script>
	{{/each}}
	{{/if}}
</body>
</html>
