		<h1 id="tournamentName">{{tournament.name}}</h1>
		<div>{{tournament.location}}</div>
		<div>{{tournament.date}}</div>
		<div id="inputId" hidden="true" value="{{tournament._id}}" ></div>
		<form id="form" onsubmit="return false" class="form-signin">
			<h2 class="form-signin-heading">Add events</h2>
			<fieldset class="form-group">
				<label>Name</label>
				<p>The name of your event.</p>
				<input type="text" id="inputName" class="form-control" placeholder="Melee Singles" required autofocus>
			</fieldset>
			<fieldset class="form-group">
				<label>Game</label>
				<select id="inputGame" class="form-control">
				{{#each tournament.games}}
					<option value="{{this}}">{{this}}</option>
				{{/each}}
				</select>
			</fieldset>
			<fieldset class="form-group">
				<label>Entrants</label>
				<p>Enter the entry cap here.</p>
				<input type="number" min="2" class="form-control" id="inputEntrants">
			</fieldset>
			<fieldset class="form-group">
				<label>Number of rounds</label>
				<p>How many phases of the tournament there should be</p>
				<input id="inputRounds" class="form-control" type="number" value="1" min="1" max="4">
				<div class="inputBrackets">
					<h3 class="round">Round 1</h3>
					<div class="form-inline form-group">
						<label>Bracket type</label>
						<select class="form-control">
						{{#each brackets}}
							<option value="{{functionName}}">{{prettyName}}</option>
						{{/each}}
						</select>
					</div>
					<div style="display:none;" class="form-inline form-group entrants">
						<label>Entrants per pool</label>
						<input value="2" type="number" min="2" class="form-control">
					</div>
					<div style="display:none;" class="form-inline form-group winners">
						<label>Players advancing</label>
						<input value="2" type="number" min="2" class="form-control">
					</div>
				</div>
			</fieldset>
			<fieldset class="form-group">
				<label>Description</label>
				<p>Further description of the event, like custom rulesets and bans.</p>
				<textarea class="form-control" id="inputDescription" rows="3"></textarea>
			</fieldset>
			<fieldset class="form-group">
				<label>Prize Pool</label>
				<p>Starting prize pool of the event, before entry fees, but including pot bonuses.</p>
				<div class="input-group">
					<span class="input-group-addon">$</span>
					<input type="number" min="0" data-number-to-fixed="2" class="form-control" id="inputPrizePool">
				</div>
			</fieldset>
			<fieldset class="form-group">
				<label>Payouts</label>
				<p>List the percentage payouts for each placement; make sure it totals 100%!</p>
				<div class="form-inline" id="payout0" class="payout">
					<label style="width:50px;" >1st</label>
					<div class="input-group">
						<input type="number" min="0" data-number-to-fixed="2" class="form-control inputPayoutPercent" style="width:100px">
						<span class="input-group-addon">%</span>
					</div>
					<button class="btn remove-more">-</button>
					<button class="btn add-more">+</button>
				</div>
			</fieldset>
			<fieldset class="form-group">
				<label>Entry Fee</label>
				<p>Entry fee of the bracket, not including any venue fees.</p>
				<div class="input-group">
					<span class="input-group-addon">$</span>
					<input type="number" min="0" data-number-to-fixed="2" class="form-control" id="inputEntryFee">
				</div>
			</fieldset>
			<button class="btn btn-lg btn-primary btn-block">Create</button>
		</form>
