		<form id="form" onsubmit="return false" class="form-signin">
			<h2 class="form-signin-heading">Create a tournament</h2>
			<fieldset class="form-group">
				<label>Name</label>
				<p>The name of your tournament.</p>
				<input type="text" id="inputName" class="form-control" placeholder="Shine 2016" required autofocus>
			</fieldset>
			<fieldset class="form-group">
				<label>Passkey</label>
				<p>Passkey to your tournament's administrative backend.</p>
				<input type="password" id="inputKey" class="form-control" required>
			</fieldset>
			<fieldset class="form-group">
				<label>Email</label>
				<p>Recovery email if you lose your tournament passkey.</p>
				<input type="email" id="inputEmail" class="form-control" placeholder="matt.zeb@gmail.com" required>
			</fieldset>
			<fieldset class="form-group">
				<label>Accept Setups</label>
				<p>If you'd like to ask registants to bring setups, click this box.</p>
				<input type="checkbox" id="inputAcceptSetups"/>
			</fieldset>
			<fieldset class="form-group">
				<label>Games</label>
				<p>List of games being run at the event.</p>
				<div class="control-group controls inputs">
					<div class="form-inline" >
						<input type="text" class="form-control form-inline list-input game" placeholder="Game"/>
						<button style="display:none;" class="btn remove-more" type="button">-</button>
						<button class="btn add-more" type="button">+</button>
					</div>
				</div>
			</fieldset>
			<fieldset class="form-group">
				<label>Location</label>
				<p>Where your tournament is being hosted at.</p>
				<input type="text" id="inputLocation" class="form-control" placeholder="Seaport Trade Center, Boston, MA">
			</fieldset>
			<fieldset class="form-group">
				<label>Date</label>
				<p>When your tournament begins and ends.</p>
				<div class="input-group date" data-provide="datepicker">
					<input type="text" id="inputDate" class="form-control datepicker">
					<div class="input-group-addon">
						<span class="glyphicon glyphicon-th"></span>
					</div>
				</div>
			</fieldset>
			<fieldset class="form-group">
				<label>Description</label>
				<p>A description of your tournament.</p>
				<textarea class="form-control" id="inputDescription" rows="3"></textarea>
			</fieldset>
			<button class="btn btn-lg btn-primary btn-block">Create</button>
		</form>
