		<h1 id="tournamentName">{{tournament.name}}</h1>
		<div>{{tournament.location}}</div>
		<div>{{tournament.date}}</div>
		<ul>
			<li><a href="/edit/{{tournament._id}}/{{event._id}}/seeding?key={{tournament.key}}">Manage seeding</a></li>
		</ul>
		<div id="inputTId" hidden="true" value="{{tournament._id}}" ></div>
		<div id="inputEId" hidden="true" value="{{event._id}}" ></div>
		<form id="form" onsubmit="return false" class="form-signin">
			<h2 class="form-signin-heading">{{event.name}}</h2>
			<fieldset class="form-group">
				<label>Name</label>
				<p>Edit the name of your event.</p>
				<input type="text" id="inputName" class="form-control" value="{{event.name}}" required autofocus>
			</fieldset>
			<fieldset class="form-group">
				<label>Game</label>
				<p>Edit the game will the event feature.</p>
				<input type="text" id="inputGame" class="form-control" value="{{event.game}}" required>
			</fieldset>
			<fieldset class="form-group">
				<label>Description</label>
				<p>What do you want the players to know? Singles, doubles, Wii U custom low tiers, ect.</p>
				<textarea class="form-control" id="inputDescription" rows="3">{{event.description}}</textarea>
			</fieldset>
			<fieldset class="form-group">
				<label>Prize Pool</label>
				<p>Starting prize pool of the event, before entry fees, but including pot bonuses.</p>
				<div class="input-group">
					<span class="input-group-addon">$</span>
					<input value="{{event.potBonus}}" type="number" min="0" data-number-to-fixed="2" class="form-control" id="inputPrizePool">
				</div>
			</fieldset>
			<fieldset class="form-group">
				<label>Entry Fee</label>
				<p>Entry fee of the bracket, not including any venue fees.</p>
				<div class="input-group">
					<span class="input-group-addon">$</span>
					<input value="{{entry.entranceFee}}" type="number" min="0" data-number-to-fixed="2" class="form-control" id="inputEntryFee">
				</div>
			</fieldset>
			<fieldset class="form-group">
				<label>Payouts</label>
				<p>List the percentage payouts for each placement; make sure it totals 100%!</p>
				{{#each payoutInfo}}
				<div class="form-inline" id="payout{{@index}}" class="payout">
					<label style="width:50px;" >{{name}}</label>
					<div class="input-group">
						<input value="{{value}}" type="number" min="0" data-number-to-fixed="2" class="form-control" style="width:100px" class="inputPayoutPercent">
						<span class="input-group-addon">%</span>
					</div>
					{{#if @index}}
					{{else}}
					<button class="btn remove-more">-</button>
					<button class="btn add-more">+</button>
					{{/if}}
				</div>
				{{/each}}
			</fieldset>
			<button class="btn btn-lg btn-primary btn-block" >Edit</button>
		</form>
