		<h1 id="tournamentName">Edit Seeding for {{event.name}}</h1>
		<div id="inputTId" hidden="true" value="{{event.tournament._id}}" ></div>
		<div id="inputEId" hidden="true" value="{{event._id}}" ></div>
		<form id="form" onsubmit="return false" class"form-signin">
			<ul class="seeds">
			{{#each event.seeding}}
				<li class="seed" id="{{@index}}">{{sponsor}}|{{tag}}, {{firstName}} {{lastName}}</li>
			{{/each}}
			</ul>
			<button id="inputSubmit" class="btn btn-lg btn-primary btn-block">Submit</button>
		</form>