		<div id="inputId" hidden="true" value="{{tournament._id}}" ></div>
		<form id="form" onsubmit="return false" class="form-signin">
			<h2 class="form-signin-heading">{{ tournament.name }}</h2>
			<h4> Edit information about your tournament </h4>
			<fieldset class="form-group">
				<label>Name</label>
				<p>The name of your tournament.</p>
				<input type="text" id="inputName" class="form-control" value="{{ tournament.name }}" required autofocus>
			</fieldset>
			<fieldset class="form-group">
				<label>Location</label>
				<p>Where your tournament is being hosted at.</p>
				<input type="text" id="inputLocation" class="form-control" value="{{ tournament.location }}">
			</fieldset>
			<fieldset class="form-group">
				<label>Games</label>
				<p>List of games being run at the event.</p>
				<div class="control-group controls inputs">
					{{#each tournament.games}}
					<div class="form-inline" >
						<input type="text" class="form-control form-inline list-input game" value="{{this}}"/>
					</div>
					{{/each}}
					<div class="form-inline" >
						<input type="text" class="form-control form-inline list-input game" placeholder="Game"/>
						<button style="display:none;" class="btn remove-more" type="button">-</button>
						<button class="btn add-more" type="button">+</button>
					</div>
				</div>
			</fieldset>
			<fieldset class="form-group">
				<label>Date</label>
				<p>When your tournament begins and ends.</p>
				<div class="input-group date" data-provide="datepicker">
					<input type="text" class="form-control datepicker" value="{{ tournament.date }}">
					<div class="input-group-addon">
						<span class="glyphicon glyphicon-th"></span>
					</div>
				</div>
			</fieldset>
			<fieldset class="form-group">
				<label>Description</label>
				<p>A description of your tournament.</p>
				<textarea class="form-control" id="inputDescription" rows="3">{{ tournament.description }}</textarea>
			</fieldset>
			<button id="inputSubmit" class="btn btn-lg btn-primary btn-block" >Edit</button>
		</form>
		<ul>
		{{#each tournament.events }}
			<li><a href="/edit/{{../tournament._id}}/{{_id}}?key={{../tournament.key}}">Edit {{name}}</a></li>
		{{/each }}
			<li><a href="/create/{{tournament._id}}?key={{tournament.key}}">Create new event</li>
		</ul>
