	<div class="jumbotron">
			<div class="container">
			<h1>Welcome to TOryaa.</h1>
			<p>Tired of pencil-and-paper bracketing? Can't keep track of all 50-plus setups in your venue? Want to manage your time and resources efficiently?</p>
			<p>Well, you're in the right place. TOryaa is a tournament management application designed for tournament organizers by tournament organizers. We
			handle setups, registration and bracket algorithms so you don't have to.</p>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-4 falcon">
				<h2>Starting a new tournament?</h2>
				<p>If you haven't created your tournament yet, start here.</p>
				<p><a class="btn btn-default" href="/create" role="button" style="float:right">Start a tournament &raquo;</a></p>
			</div>
			<div class="col-md-4 peach">
				<h2>Managing an existing tournament?</h2>
				<p>If you're here to manage your tournament, start here. Don't forget your tournament passkey!</p>
				<p><a class="btn btn-default" href="/manage" role="button" style="float:right">Manage a tournament &raquo;</a></p>
			</div>
			<div class="col-md-4 fox">
				<h2>Registering for a tournament?</h2>
				<p>If you're an entrant to one of the existing tournaments, start here and go straight to registration.</p>
				<p><a class="btn btn-default" href="/view" role="button" style="float:right">Register for a tournament &raquo;</a></p>
			</div>
		</div>
		<hr>
	</div>