<div class="container">
		<form class="form-signin">
			<h2 class="form-signin-heading">You need to authenticate before you can do that.</h2>
			<label for="inputKey" class="sr-only">Tournament Passkey</label>
			<input type="password" id="inputKey" class="form-control" placeholder="Passkey" required autofocus>
			<input type="hidden" id="cbURL" value="{{url}}">
			<button id="inputSubmit" class="btn btn-lg btn-primary btn-block" type="submit">Authenticate</button>
		</form>
	</div>
