		<h1 id="tournamentName">{{tournament.name}}</h1>
		<h2>Payouts</h2>
		<h4>Needs to pay</h4>
		{{#each owes}}
		<div class="owes form-inline">
			<label> {{sponsor}}|{{tag}} - </label>
			<label>${{owed}}</label>
		</div>
		{{/each}}
		<h4>Needs to get payout</h4>
		{{#each owed}}
		<div class="owed form-inline">
			<label> {{sponsor}}|{{tag}} - </label>
			<label>${{owed}}</label>
		</div>
		{{/each}}