		<h1 id="eventName">{{event.name}}</h1>
		<h3>{{event.game}}</h3>
		{{#if event.potBonus}}
		<h4>${{event.potBonus}} pot bonus!</h4>
		{{/if }}
		<h5>Description</h5>
		<div>{{event.description}}</div>
		<div>${{event.entranceFee}} entrance fee</div>
		<div>{{event.seeding.length}} Registered players</div>
		<div id="inputId" hidden="true" value="{{event.tournament._id}}/{{event._id}}" ></div>
		<div>{{tournament.setups.length}} Setups available for the event</div>
		<a href="/manage/{{tournament._id}}/setups?key={{tournament.key}}">Manage setups</a>
		<ul>
		{{#each round.brackets}}
			<li>
				<a href="/manage/{{../tournament._id}}/b/{{_id}}?key={{../tournament.key}}">Manage Bracket</a>
				<div>Players</div>
				<ul>
				{{#each players}}
					<li>{{ sponsor }}|{{ tag }}</li>
				{{/each}}
				</ul>
			</li>
		{{/each}}
		</ul>
