		<h1 id="tournamentName">{{round.event.tournament.name}} - {{round.event.name}}, Round {{round.number}}</h1>
		<h2>Bracket</h2>
		<input id="inputTId" hidden="true" value="{{round.event.tournament._id}}">
		<input id="inputEId" hidden="true" value="{{round.event._id}}">
		<input id="inputBId" hidden="true" value="{{bracket._id}}">
		<table>
			<tr>
				<td>
					<h3>Available Matches</h3>
				</td>
			<tr>
				<td>
					<ul>
						{{#each availableMatches}}
						<li>
							<div class="tournamentMatch">
								<input hidden="true" class="match" value="{{_id}}"/>
								{{#each players}}
								<div class="tournamentPlayer{{@index}}">
									<h5 class="player">{{ sponsor }}|{{ tag }}</h5>
								</div>
								{{/each}}
							</div>
							{{#if ../round.event.tournament.acceptSetups}}
							{{#if ../availableSetups}}
							<div class="form-inline">
								<label>Setups:</label>
								<select class="form-control">
								{{#each ../availableSetups}}
									<option value="{{_id}}">{{name}}</option>
								{{/each}}
								</select>
								<button class="btn btn-primary startMatch">Start</button>
							</div>
							{{/if}}
							{{else}}
							<div class="form-inline">
								<button class="btn btn-primary startMatch">Start</button>
							</div>
							{{/if}}
						</li>
						{{/each}}
					</ul>
				</td>
			</tr>
		</table>

		<h3>In-Progress Matches</h3>
		<ul>
			{{#each startedMatches}}
			<li>
				<input hidden="true" class="match" value="{{_id}}">
				<input hidden="true" class="setup" value="{{setup._id}}">
				<div class="tournamentMatch">
					{{#each players}}
					<div class="tournamentPlayer{{@index}} form-inline">
						<div class="player">{{ sponsor }}|{{ tag }}</div>
						<input style="float:right" type="number" min="-1" class="player{{@index}}">
						<input type="hidden" class="hidden{{@index}}" value="{{ _id }}">
					</div>
					{{/each}}
				</div>
				<p class="timeStarted">{{started}}</p>
				<div class="setup">{{ setup.name }}</div>
				<button class="btn btn-primary submitMatch">Submit</button>
			</li>
			{{/each}}
		</ul>

		<h3>Finished Matches</h3>
		<ul>
			{{#each finishedMatches}}
			<li>
				<input hidden="true" class="match" value="{{_id}}"/>
				<input hidden="true" class="setup" value="{{setup._id}}">
				<div class="tournamentMatch">
					{{#each players}}
					<div class="tournamentPlayer{{@index}} form-inline">
						<div class="player">{{ sponsor }}|{{ tag }}</div>
						<input style="float:right" type="number" min="-1" class="player{{@index}}">
						<input type="hidden" class="hidden{{@index}}" value="{{ _id }}">
					</div>
					{{/each}}
					<div>{{ scoresCsv }}</div>
				</div>
				<button class="btn btn-primary editMatch">Edit</button>
			</li>
			{{/each}}
		</ul>
