		<div class="starter-template">
			<h1>Tournament List</h1>
			<p class="lead">Manage a tournament.</p>
		</div>
		{{#each tournament}}
		<div class="tournamentListing">
			<h4><a href="/manage/{{_id}}">{{name}}</a></h4>
			<div class="details"><span class="accent">Where:</span> {{location}} | <span class="accent">When:</span> {{date}}</div>
		</div>
		{{/each}}
		<script src="/static/javascripts/pages/edit-list.js"></script>
