		<h1 id="tournamentName">{{tournament.name}}</h1>
		<div>{{tournament.location}}</div>
		<div>{{tournament.date}}</div>
		<ul>
		{{#each tournament.events}}
			<li><a href="/manage/{{../tournament._id}}/e/{{_id }}?key={{../tournament.key}}">Event {{name}}</a></li>
		{{/each}}
		</ul>
		<div id="inputId" hidden="true" value="{{event.tournament._id}}/{{event._id}}" ></div>
		<div>{{tournament.registrants.length}} Registered players</div>
		<div>{{tournament.setups.length}} Setups available for the event</div>
		<a href="/manage/{{tournament._id}}/payouts?key={{tournament.key}}">Manage entry fee and payout</a>