	<h1 id="tournamentName">Setup list for {{tournament.name}}</h1>
	<input hidden="true" id="inputId" value="{{tournament._id}}"/>
	{{#each tournament.setups}}
	<div class="setup">
		<div class="setupName">{{ name }}</div>
		{{#if match }}
		<div class="form-inline form-group">
			{{#each match.players}}
			<h5 class="player">{{ sponsor }}|{{ tag }}</h5>
			{{/each}}
			<p class="timeStarted">{{match.started}}</p>
		</div>
		{{else}}
		<form>
			<fieldset class="form-inline form-group">
				<label>Use for</label>
				<input hidden="true" class="setupId" value="{{_id}}"/>
				<select class="setupStatus">
					{{#if friendlies}}
					<option value="false">Matches</option>
					<option selected value="true">Friendlies</option>
					{{else}}
					<option selected value="false">Matches</option>
					<option value="true">Friendlies</option>
					{{/if}}
				<select>
			</fieldset>
		</form>
		{{/if}}
	</div>
	{{/each}}