		<h2 class="form-signin-heading">Register for {{tournament.name}}</h2>
		<div>{{tournament.location}}</div>
		<div>{{tournament.date}}</div>
		<input id="inputId" hidden="true" value="{{tournament._id}}">
		<form id="form" onsubmit="return false" class="form-signin">
			<fieldset class="form-group">
				<label>Name</label>
				<p>Your first and last name. Don't worry - we won't distribute your private information.</p>
				<div class="form-inline">
					<input type="text" id="inputFirstName" class="form-control" placeholder="Joey" required autofocus>
					<input type="text" id="inputLastName" class="form-control" placeholder="Marquez" required>
				</div>
			</fieldset>
			<fieldset class="form-group">
				<label>Tag</label>
				<p>Your player prefix and tag or handle. This is how it will show up in brackets.</p>
				<div class="form-inline">
					<input type="text" id="inputPrefix" class="form-control" placeholder="C9">
					<input type="text" id="inputTag" class="form-control" placeholder="Mang0" required>
				</div>
			</fieldset>
			<fieldset class="form-group">
				<label>Email</label>
				<p>Your email, which will only be used for registration notifications and explosions. No spam!</p>
				<input type="email" id="inputEmail" class="form-control" placeholder="mang0@whitehouse.gov" required>
			</fieldset>
			{{#if tournament.acceptSetups}}
			<fieldset class="form-group">
				<label>Setup</label>
				<p>We're looking for setups. Can you pledge any? If so, put them down below.</p>
				<input type="checkbox" id="setup" />
				<div style="display:none;" id="setupList" class="control-group controls inputs">
					<div class="form-inline" >
						<select class="form-control input-game list-input">
						{{#each tournament.games}}
							<option value="{{this}}">{{this}}</option>
						{{/each}}
						</select>
						<button style="display:none;" class="btn remove-more" type="button">-</button>
						<button class="btn add-more" type="button">+</button>
					</div>
				</div>
			</fieldset>
			{{/if}}
			<fieldset class="form-group events">
				<label>Events</label>
				{{#if tournament.anyToDisplay }}
					<p>The events you're entering.</p>
					{{#each tournament.events}}
						{{#if display}}
						<div class="event form-inline">	
							<input type="checkbox" class="form-control id" value="{{_id}}"/>
							<label>{{name}}</label>
							<label>${{entranceFee}} entry fee</label>
							<input hidden="true" class="fee" value="{{entranceFee}}"/>
						</div>
						{{/if}}
					{{/each}}
				{{else}}
					{{#if tournament.events}}
					<p>All events for the tournament have started</p>
					{{else}}
					<p>The tournament doesn't have events yet</p>
					{{/if}}
				{{/if}}
			</fieldset>
			<button id="inputSubmit" class="btn btn-lg btn-primary btn-block">Register</button>
		</form>
