		<h1 id="eventName">{{event.name}}</h1>
		<h3>{{event.game}}</h3>
		{{#if event.potBonus}}
		<h4>${{event.potBonus}} pot bonus!</h4>
		{{/if }}
		<h5>Description</h5>
		<div>{{event.description}}</div>
		<div>${{event.entranceFee}} entrance fee</div>
		<div>{{event.seeding.length}} Registered players</div>
		<div><a href="/edit/{{event.tournament._id}}/{{event._id}}/seeding?key={{event.tournament.key}}">Manage seeding</a></div>
		<div>{{tournament.setups.length}} Setups available for the event</div>
		<div id="inputId" hidden="true" value="{{event.tournament._id}}/e/{{event._id}}" ></div>
		<form id="form" onsubmit="return false" class="form-signin">
			
			<button class="btn btn-lg btn-primary btn-block" >Start</button>
		</form>