		<div class="starter-template">
			<h1>Tournament List</h1>
			<p class="lead">See all of the latest tournaments right here.</p>
		</div>
		{{#each tournament}}
		<div class="tournamentListing">
			<h4><a href="/view/t/{{_id}}">{{name}}</a></h4>
			<div class="details"><span class="accent">Where:</span> {{location}} | <span class="accent">When:</span> {{date}}</div>
		</div>
		{{/each}}
