		<h1 id="tournamentName">{{tournament.name}}</h1>
		<div class="tournamentMatches">
		{{#each bracket.match}}
			<form id="form{{_id}}" onsubmit="return false">
			<!-- display match data as a form, submit and return data thru ajax
					 players
					 rounds
					 winner -->
			<button class="btn btn-primary-outline btn-sm">Submit</button>
		{{/each}}
		</div>
