		<h1 id="tournamentName">{{round.event.tournament.name}} - {{round.event.name}}</h1>
		<table class="roundRobin">
			<tr>
				<th></th>
				{{#each player in the pool}}
				<th>{{player's tag}}</th>
				{{/each}}
			</tr>
			{{#each player in the pool}}
			<tr>
				<th>{{player's tag}}</th>
				{{#each other player in the pool (same order!)}}
				<td>{{player's other matches' score}}</td>
				{{/each}}
			</tr>
			{{/each}}
		</table>
