		<h1 id="eventName">{{event.name}}</h1>
		<h3>{{event.game}}</h3>
		{{#if event.potBonus}}
		<h4>${{event.potBonus}} pot bonus!</h4>
		{{/if }}
		<h5>Description</h5>
		<div>{{event.description}}</div>
		<div>${{event.entranceFee}} entrance fee</div>
		<a href="/register/{{event.tournament}}">Register</a>
		<div>{{event.seeding.length}} Registered players</div>
		<ul>
		{{#each event.seeding}}
			<li>{{sponsor}}|{{tag}}</li>
		{{/each}}
		</ul>
		<ul>
		{{#each event.rounds}}
		{{#each brackets}}
			<li>
				<a href="/view/b/{{_id}}">View Bracket</a>
				<div>Players</div>
				<ul>
				{{#each players}}
					<li>{{ sponsor }}|{{ tag }}</li>
				{{/each}}
				</ul>
			</li>
		{{/each}}
		{{/each}}
		</ul>