		<h1 id="tournamentName">{{tournament.name}}</h1>
		<h5>Located</h5>
		<div>{{tournament.location}}</div>
		<h5>Date</h5>
		<div>{{tournament.date}}</div>
		<a href="/register/{{tournament._id}}">Register</a>
		<ul>
			{{#each tournament.events}}
			<li><a href="/view/e/{{_id }}">Event {{name}}</a></li>
			{{/each}}
		</ul>
		<div>{{tournament.registrants.length}} Registered players</div>
		<ul>
			{{#each tournament.registrants}}
			<li>{{sponsor}}|{{tag}}</li>
			{{/each}}
		</ul>

