		<input hidden="true" id="inputBId" value="{{bracketId}}">
		{{#if roundRobin }}
		<table class="roundRobin">
			<tr>
				<td/>
				{{#each bracket.players}}
				<td>
					<div class="player">{{ sponsor }}|{{ tag }}</div>
				</td>
				{{/each}}
			</tr>
			{{#each bracket.matches}}
			<tr>
				<td>
					<div class="player">{{ player.sponsor }}|{{ player.tag }}</div>
				</td>
				{{#each this}}
				{{#if this}}
				<td>
					{{#if scoresCsv }}
					<div class="submission">
						{{ scoresCsv }}
					</div>
					{{else}}
					<input hidden="true" class="setup" value="{{setup}}"/>
					<input hidden="true" class="match" value="{{_id}}"/>
					<div class="submission">
						{{#each players}}
						<input style="border-width: 2px; height:30px; float:left" type="number" min="-1" class="player{{@index}} rrInput"/>
						<input type="hidden" class="hidden{{@index}}" value="{{ _id }}"/>
						{{/each}}
						{{#switch state}}
							{{#case "active"}}
								<button style="float:left" class="submitMatch btn btn-info btn-sm">></button>
							{{/case}}
						{{/switch}}
					</div>
					{{/if}}
				</td>
				{{else}}
				<td/>
				{{/if}}
				{{/each}}
			</tr>
			{{/each}}
		</table>
		{{else}}
		<div id="bracket"></div>
		<script type="text/javascript">
			bracketJson = {{{bracket}}};
		</script>
		{{/if}}
