		<h1 id="tournamentName">{{round.event.tournament.name}} - {{round.event.name}}, Round {{round.number}}</h1>
		<h2>Current Matches</h2>
		<div>
		{{#each round.brackets}}
			<div>
				<a href="/view/b/_id">Bracket</a>
				<div>Players</div>
				<ul>
				{{#each players}}
					<li>{{sponsor}}|{{tag}}</li>
				{{/each}}
				</ul>
			</div>
		{{/each}}
		<div>