		<h1 id="tournamentName">{{tournament.name}} - {{tournament.event}} {{tournament.round}}</h1>
		<h2>Current Matches</h2>
		<ul>
		{{#each currentMatch}}
			<li>
				<div class="tournamentMatch">
					<h3 class="player1">{{player1}}</h3>
					<h3 class="player2">{{player2}}</h3>
					<!-- input? -->
					<p class="timeStarted">{{timeSinceStarted}}</p>
				</div>
			</li>
		{{/each}}
		</ul>
		<h2>Upcoming Matches</h2>
		<ul>
		{{#each upcomingMatch}}
			<li>
				<div class="tournamentMatch">
					<h3 class="player1">{{player1}}</h3>
					<h3 class="player2">{{player2}}</h3>
					<!-- input? -->
					<div class="input-group form-inline">
						<label>Assign a setup and start this match</label>
						<select id="{{_id}}" class="form-control">
						{{#each tournament.setups}}
							<option value="{{this}}">{{this}}</option>
						{{/each}}
						</select>
					</div>
				</div>
			</li>
		{{/each}}
		</ul>
		<h2>Finished Matches</h2>
		<ul>
		{{#each finishedMatch}}
			<li>
				<div class="tournamentMatch">
					<h3 class="player1">{{player1}}</h3>
					<h3 class="player2">{{player2}}</h3>
					<!-- input? -->
					<div class="input-group form-inline">
						<label>Assign a setup and start this match</label>
						<select id="{{_id}}" class="form-control">
						{{#each tournament.setups}}
							<option value="{{this}}">{{this}}</option>
						{{/each}}
						</select>
					</div>
				</div>
			</li>
		{{/each}}
		</ul>
