		<h1 id="tournamentName">{{tournament.name}} - {{tournament.event}}</h1>
		<h2>Payouts</h2>
		<ul>
		{{#each tournament.registrants}}
			{{#if payout!=0}}
			<li>{{sponsor}}|{{tag}} - ${{payout}}</li>
			{{/if}}
		{{/each}}
		</ul>