/*=============================================*\
 * BRACKET STYLE
 * CSS for D3 bracketing.
\*=============================================*/
.node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 1.5px;
}

.node text {
	font: 12px sans-serif;
}

path.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 1.5px;
}

#chart {
	width: 1000px;
	height: 600px;
	overflow: scroll;
}
