/*=============================================*\
 * CORE STYLE
 * generic CSS that applies to all pages
 \*============================================*/
html {
  position: relative;
  min-height: 100%;
}

body {
  /* footer height + 20px for spacing */
  margin-bottom: 120px;
}

/* === FOOTER === */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: #f0f0f0;
}

.footer p {
	margin: 10px;
}

/* generic sign up and registration form styling */
.form-signin {
  width: 50vmin;
  left: 0; right: 0;
  margin: 0 auto;
}

/* tournament listing display */
.tournamentListing {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #858585;
  -webkit-box-shadow: 5px 5px 0px 0px rgba(133,133,133,1);
  -moz-box-shadow: 5px 5px 0px 0px rgba(133,133,133,1);
  box-shadow: 5px 5px 0px 0px rgba(133,133,133,1);
}

.tournamentListing h4 a {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
}

.tournamentListing .accent {
  color: #858585;
}

/* ssbm portraits */
.falcon {
  background: url('/static/images/ssbm_falcon_portrait.png') no-repeat top right;
}

.fox {
  background: url('/static/images/ssbm_fox_portrait.png') no-repeat top right;
}

.peach {
  background: url('/static/images/ssbm_peach_portrait.png') no-repeat top right;
}