/*=============================================*\
 * EDIT SEEDING STYLE
 * generic CSS for sortable seeding
 \*============================================*/
body.dragging, body.dragging * {
	cursor: move !important;
}

.dragged {
	position: absolute;
	opacity: 0.5;
	z-index: 9999;
}

ul.seeds li.placeholder {
	position: relative;
}

ul.seeds li.placeholder:before {
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	margin-top: -5px;
	left: -5px;
	top: -4px;
	border: 5px solid transparent;
	border-left-color: $error;
	border-right: none;
}
