/*=============================================*\
 * MATCHES STYLE
 * CSS for the matches that include player tags
 * and optionally scores and/or winner.
 * Structure should look like:
 * .tournamentMatch
 * 	.tournamentPlayer0 winner
 * 		.player
 * 		input.player0
 * 		.score
 * 	.tournamentPlayer1
 * 		.player
 * 		input.player1
 * 		.score
\*=============================================*/
.tournamentMatch {
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
}

.tournamentPlayer0, .tournamentPlayer1 {
	display: block;
	width: 200px;
	height: 25px;
	border: 2px solid #ccc;
}

.tournamentPlayer0 {
	border-bottom-width: 1px;
}

.tournamentPlayer1 {
	border-top-width: 1px;
}

.player {
	display: inline;
	vertical-align: middle;
	line-height: 20px;
	margin: 0 0 0 5px;
}

.scoreBox {
	display: inline;
	width: 25px;
	height: 23px;
	border: 2px solid #ccc;
	border-width: 0 0 0 2px;
	text-align: center;
	float: right;
}

input.player0, input.player1 {
	display: inline;
	width: 35px;
	height: 22px;
	border: 2px solid #ccc;
	border-width: 0 0 0 2px;
}

#bracket {
	width: 100%;
	height: 80%;
	overflow: auto;
}

/* round robin table */
table.roundRobin td {
	padding:5px;
}
